
.newFooter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #000;
  border-bottom: 1px solid #000;
  padding-bottom: 60px;
  margin-bottom: 20px;
  gap: 20%;

  @include m-phone() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    gap: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

    @include m-phone() {
      margin-top: 40px;
    }
  }

  &__rightSection {
    display: flex;
    flex-direction: column;
    margin-top: 25px;

    @include m-phone(){
      margin-top: 0;
    }

    h3 {
      font-weight: 600;
      margin-bottom: 38px;
      font-size: 16px;
    }

    a {
      color: #000;
      font-size: 14px;
      margin-bottom: 22px;

      @include m-phone() {
        font-size: 11px;
        margin-bottom: 10px;
      }
    }
  }

  &__leftSection {
    @include m-phone() {
      border-bottom: 1px solid #000;
      padding-bottom: 10px;
      margin-bottom: 18px;
      font-size: 11px;
    }
  }

  &__telegramLogo {
    margin-right: 12px;
  }

  &__logo {
    margin-bottom: 27px;
    @include m-phone() {
      width: 125px;
      margin-bottom: 24px;
    }
  }

  &__telegram {
    display: flex;
    align-items: center;
    color: #000;
    width: max-content;

    @include m-phone(){
      font-size: 11px;
    }

    p {
      margin-bottom: 0;
    }
  }

  &__bottom {
    color: #000;
    @include m-phone() {
      font-size: 11px;
      font-weight: bold;
    }
  }
}
